<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.vine.starknet</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>starknet</string>
				<string>qrpaymentscanner</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<!-- Starknet Wallets -->
		<string>argent</string>
		<string>argentx</string>
		<string>argentmobile</string>
		<string>readywallet</string>
		<string>ready-wallet</string>
		<string>ready</string>
		<string>braavos</string>
		<string>wc</string>
		
		<!-- Popular EVM Wallets (for multi-chain support) -->
		<string>metamask</string>
		<string>trust</string>
		<string>safe</string>
		<string>rainbow</string>
		<string>uniswap</string>
		<string>zerion</string>
		<string>imtokenv2</string>
		<string>spot</string>
		<string>omni</string>
		<string>dfw</string>
		<string>tpoutside</string>
		<string>robinhood-wallet</string>
		<string>frontier</string>
		<string>blockchain-wallet</string>
		<string>safepalwallet</string>
		<string>bitkeep</string>
		<string>oneinch</string>
		<string>exodus</string>
		<string>bnc</string>
		<string>ledgerlive</string>
		<string>mewwallet</string>
		<string>awallet</string>
		<string>keyring</string>
		<string>lobstr</string>
		<string>ontoprovider</string>
		<string>mathwallet</string>
		<string>unstoppabledomains</string>
		<string>obvious</string>
		<string>fireblocks-wc</string>
		<string>ambire</string>
		<string>internetmoney</string>
		<string>walletnow</string>
		<string>bitcoincom</string>
		<string>coin98</string>
		<string>arculuswc</string>
		<string>cryptobrowser</string>
		<string>chainapp</string>
		<string>huddln</string>
		<string>verso</string>
		<string>haha</string>
		<string>modularwallet</string>
		<string>coinomi</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
